.body{
  height: 100em;
  width: 100em;
  background-image: url("https://zoom50.files.wordpress.com/2011/08/bactris-gasipaes-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80em;
  width: 20em;
}

/* .noodle {
  position: absolute;
  left: 300px;
  top: 300px;
} */


